/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    /* Insert your background image below */
    background-image: url('../images/books.jpg');
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

/* Style for upload box and failed students list box */
.upload-box {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 30px;
    max-width: 800px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Input styles */
input[type="file"]  input[type="number"]{
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

input[type="number"]{
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 40%; 
}

/* Button styles */
button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Result and failed students table styling */
.result {
    margin-top: 20px;
    color: #333;
    font-size: 18px;
}

.result ul {
    list-style: none;
}

.result ul li {
    padding: 5px 0;
}

/* Table styles for both pages */
table {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
    font-size: 1.1em;
}

th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

td {
    color: #555;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Add media queries to make it responsive */
@media (max-width: 768px) {
    table {
        width: 95%;
    }

    th, td {
        font-size: 0.9em;
    }

    h2 {
        font-size: 2em;
    }
}
